.trend_line {
  fill: none;
  stroke-width: 1.5px;
}
.trend_text{
  fill: #BDC3C7;
  text-shadow: 0 1px 0 #eee;
  cursor: move;
}

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  sroke-width:2;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke-opacity: .4;
  stroke-width: 2;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #BDC3C7;
  text-shadow: 0 1px 0 #eee;
  cursor: move;
}

.bar:hover {
  fill: brown;
}

.x.axis-hist path {
  display: none;
}

.bar text {
  fill: #fff;
}

      rect.bordered {
        stroke: #E6E6E6;
        stroke-width:2px;   
      }

      text.mono {
        font-size: 9pt;
        font-family: Consolas, courier;
        fill: #BDC3C7;
      }

      text.axis-workweek {
        fill: #BDC3C7;
      }

      text.axis-worktime {
        fill: #BDC3C7;
      }

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis_parallel line,
.axis_parallel path
{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
  opacity: .9;
}